html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
    Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
    background: #000000;
  }
  body {
    color: #fff;
    background: #000000;
  }
}

.ag-theme-material {
  --ag-cell-horizontal-padding: 0;
}

.ag-cell {
  padding-left: 8px !important;
  padding-right: 8px !important;
}

.ag-header-cell {
  padding-left: 2px !important;
  padding-right: 2px !important;
}

.ag-header-cell-label {
  justify-content: center;
  text-align: center;
  font-size: 12px;
  font-weight: 800;
}

.left-aligned-group-header .ag-header-cell-label {
  justify-content: flex-start;
  padding-left: 8px !important;
}
